<% include partials/header %>

<h1>Ana Sayfa</h1>

<p>Hoşgeldiniz</p>
<hr>

<a href="/yemekler">Yemeklerimiz icin tiklayiniz</a>
<hr>
<a href="/yemekler/yeni">Yeni yemek eklemek icin tiklayiniz</a>
<hr>

<% include partials/footer %>